#fondo
{
	width: 100%;
	height: 100%;
	background: #45008ef2;
	padding-bottom: 20px;
	padding-top: 40px;
	padding-right: 60px;
	padding-left: 60px;

}

#contenedorGrande
{
	width: 100%;
	/*height: 900px;*/
	background-color: #380679;
	position: relative;
	border-radius: 50px;
	margin-top: 1%;
}

.contenedorOpciones{
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
}

.contenedorOpciones #manizales,
.contenedorOpciones #restodelpais{
	flex: 0 0 40%;
	background-color: #ff3960;
	border-radius: 50px;
	padding-bottom: 20px;
}

#contenedorCupcake,
#contenedorTortas{
	background-color: #eeeeee38;
	border-radius: 50px;
	width: 90%;
	margin: 0 auto;
	transition: all ease .5s;
}

#contenedorTortas{

}

.imgCupcake
{
	max-width: 100%;
	transition: .5s;
	/*position: absolute;
	top: 80%;
	left: 29%;
	transform: translate(-50%, -50%);
	*/
}

#urlCuManizales:hover #contenedorCupcake,
#urlCaManizales:hover #contenedorTorta,
#urlResto:hover #contenedorTortas{
	background-color: #eeeeee91;
}

#urlCuManizales:hover .imgCupcake{
	/*transform: rotateY(-90deg) translate(-50%, -50%);
	transform-origin: top left;*/
}

.imgCake
{
	max-width: 100%;
/*	position: absolute;
	top: 53%;
	left: 61%;
	transform: translate(-50%, -50%);*/
}

.imgCakes
{
	max-width: 100%;
	/*position: absolute;
	top: 61%;
	transform: translate(20%, -50%);*/
}

#contenedorGrande h1
{
	text-align: center;
	color: white;
	margin-top: 10px;
}

#icono
{
	width: auto;
    height: auto;
	margin-left: 30%;
	margin-top: 6%;
}

#momento
{
	width: 15%;
	margin-left: 40%;
}

#contenedorGrande h2
{
	color: white;
	margin-top: 10px;
	padding: 20px;
	text-align: center;
}

#contenedorGrande h3
{
	text-align: center;
	color: white;
	padding: 20px;
}