
button, input[type='radio'], input[type='check']
{
	cursor: pointer;
}
button:focus{
	outline: 0;
}


.container-fluid
{
	position: relative;
}

#paginaEntera
{
	padding-top: 123px;
}

#bodyExpressarte
{
	background: #45008ef2;
}

#menuPrincipalExpressarte ul li a{
	text-decoration: none;
	color: white;
}

@keyframes showOpacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

#menuPrincipalExpressarte ul li a img{
	opacity: 0;
	animation-name: showOpacity;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}

#menuPrincipalExpressarte{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 3;
}
#nav1{
	background-color: #45008e;
}

@keyframes changeOver{
	0%{
		overflow: hidden;
	}
	100%{
		overflow: initial;
	}
}

#nav{
	z-index: 999;
	box-shadow: 0px -8px 50px black;
	overflow: hidden;
	animation-name: changeOver;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-duration: 0.1s;
}

.xpressArte
{
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	right: 0;
	
}
@keyframes showLeft{
	0%{
		opacity: 0;
		transform: translateX(-120%);
	}
	100%{
		opacity: 1;
		transform: translateX(0%);
	}
}
.tamanio, .cantidad, .colores{
	opacity: 0;
	margin-top: 5%;
	margin-left: 5%;
	width: 113%;
	height: auto;
	padding: 20px;
	background: #eeeeee54;
	border-radius: 8px;
	/*animation-name: showLeft;*/
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.cantidad{
	animation-delay: .25s;
}
.colores{
	animation-delay: .5s;
}

@keyframes showBottom{
	0%{
		opacity: 0;
		transform: translateY(100%);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
	}
}

.precio{
	opacity: 0;
	margin-top: 1%;
	margin-left: 1%;
	width: 16%;
	height: auto;
	background: #eeeeee54;
	border-radius: 8px;
	padding: 10px;
	z-index: 1;
	position: fixed;
	/*animation-name: showBottom;*/
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.valor
{
    background: #eeeeee54;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 0%;
}

.xpressArte .precio h6
{
	color: #45008e;
    font-weight: bold;
}

.valor p
{
	color: #45008e;
    font-weight: bold;
    text-align: center;
}


.cantidad
{
	display: none;
}

.colores, .tamanio
{
	display: block;
}

.colores > ul{
	margin: 0;
}

.item_relleno
{
	background: transparent;
	border: none;
	border-radius: 10px;
}
.item_relleno.active{
	border: 4px solid white;
    border-radius: 50%;
    padding: 0.25rem 0.1rem;
}

.listo
{
    background: #eeeeee;
    border: none;
    border-radius: 30px;
    color: #45008e;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 50px;
    font-size: 20px;
}

@keyframes showZoomIn{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

.listo#bt_sup_listo{
	opacity: 0;
	animation-name: showZoomIn;
	animation-duration: .5s;
	animation-delay: 1.75s;
	animation-fill-mode: forwards;
}

.listo#al_horno{
	position: absolute;
	bottom: 13%;
	left: 50%;
	transform: translateX(-50%);
}

.footerExp
{
	width: 100%;
	display: block;
	margin-top: 7%;
	background-color: #45008e;
}

#pasteliarteEx, #tiendaEx, #citaEx
{
	/*position: absolute;*/
    height: 73px;
    width: 200px;
    /*margin-top: 400px;*/
    /*margin-left: 4%;*/
   	border: 3px solid white;
    border-radius: 30px;

}

#tiendaEx
{
    margin-left: 40%;
}

#citaEx
{
	margin-left: 80%;
}

.imgBtn
{
	margin-left: 9%;
	margin-top: 2%;
	/*width: 20%;
	height: 20%;*/
}

.cantidad#cantidadStandard{
	display: block;
}

.cantidad > div{
	display: flex;
	justify-content: space-between;
}

.cantidad > div .cantidadSeleccionada, .tamanioSeleccionado
{
	background: none;
	border: 0;
	color: white;
	cursor: pointer;
	padding: 0 5px;
}

.cantidad > div .cantidadSeleccionada:first-child, .tamanioSeleccionado:first-child,  
.cantidad > div .cantidadSeleccionada:last-child, .tamanioSeleccionado:last-child
{
	padding: 0;
}

.cantidad > div .cantidadSeleccionada:hover, .tamanioSeleccionado:hover,
.cantidad > div .cantidadSeleccionada:focus, .tamanioSeleccionado:focus{
	text-shadow: 2px 2px 0 red;
}

.contenedorinputs 
{
    position: relative;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.contenedorinputs label{
	position: relative;
}

.saboresRellenos div ul
{
	display: flex;
	flex-wrap: wrap;
}

.sabores
{
	opacity: 0;
	width: 100%;
	height: auto;
	background: #eeeeee00;
	border: 3px solid white;
	border-radius: 8px;
	display: inline-block;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: .25s;
}



.sabores h5
{
	background: #eeeeee54;
}

.xpressArte h5
{
	color: white!important;
	font-weight: 600!important;
	font-size: 19px;
	border-color: transparent;
	width: 100%;
}

.xpressArte h6
{
	color: white;
}

.sabores label
{
	color: white;
	font-size: 15px;
}

.sabores div
{
	height: auto;
}

/*h1
{
	text-align: center;
	font-family: "Century Gothic";
	font-size: 20px;
}

h2
{
	text-align: center;
	font-family: "Century Gothic";
	font-size: 20px;
}*/

ul li
{
	position: relative;
	list-style: none;
	display: inline-block;
}

.saboresRellenos div ul li
{
	width: 47%;
	display: flex;
	padding: 2px;
}

.saboresRellenos div ul li input[type='radio']
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 100%;
}

.saboresRellenos div ul li span
{
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.saboresRellenos div ul li span label
{
	margin-bottom: 0;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.inputradio
{   
    opacity: 0;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
}

.aplicar
{
	width: 150px;
    height: 35px;
    left: 31px;
    background: #ff3960;
    color: #eeeeee;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    transform: translateY(85%);
}

.decorar .col-decorar{
	text-align: center;
}

#info
{
	margin-top: 25px;
}

.inputradioPersonaje, .inputradioCremas, .inputradioPieza, .inputradioAdicional
{   
    opacity: 0;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
}

.inputColor
{
    /*border: 2px solid #dedede;*/
    border-radius: 50%;
    height: 20px;
    position: absolute;
    display: inline-block;
    left: 0%;
    width: 21px;
    z-index: 2;
    cursor: pointer;
}

.inputColor#rojo
{
	background: #FF3960;
}
.inputColor#morado
{
	background: #82017f;
}
.inputColor#azul
{
	background: #00FFFF;
}
.inputColor#verde
{
	background: #a1d415;
}
.inputColor#amarillo
{
	background: #f8ea21;
}
.inputColor#rosado
{
	background: #f10281;
}
.inputColor#naranja
{
	background: #ff7f00;
}
.inputColor#cafe
{
	background: #754c24;
}
.inputColor#negro
{
	background: #000000;
}

.inputColor#blanco
{
	background: #ffffff;
}
.colores input[type="radio"]:checked + span {
	border: 2px solid white;
}

.saboresRellenos input[type="radio"]:checked + span {
	/*border: 2px solid white;*/
	font-weight: bold;
}

.seleccionado
{
	width: 60px;
	height: 60px;
	top: 40%;
	left: 30%;
	position: absolute;
}

@keyframes showZoomOut{
	0%{
		opacity: 0;
		transform: scale(1.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

.cupcake{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cupcake #cup{
	opacity: 0;
	height: auto;
	animation-name: showZoomOut;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 1s;
}

@keyframes showTop{
	0%{
		opacity: 0;
		transform: translateY(-80%);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
	}
}

.verRelleno{
	opacity: 0;
	margin-bottom: 5%;
	animation-name: showTop;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 1.5s;
}

.bandeja{
	width: 350px;
	height: 300px;
	top: 0%;
	left: 0%;
	position: absolute;
}

.band
{
	width: 350px;
	height: 300px;
	top: 0%;
	left: 0%;
	position: absolute;
}


.saborSeleccionado{
	width: 60px;
	height: 60px;
	top: 18%;
	left: 28%;
	position: absolute;
}

.rellenos{
	opacity: 0;
	margin-top: 2%;
	width: 100%;
	height: auto;
	background: #eeeeee00;
	border: 3px solid white;
	border-radius: 8px;
	display: block;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: .5s;
}

.rellenos h5
{
	color: white;
	background: #eeeeee54;
}

.rellenos label
{
	color: white;
}

.contBandeja
{
	top: 100%;
	left: 30%;
	position: absolute;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider 
{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#cpk1
{
	border-radius: 50px;
	background: #45008eB3;
	padding: 0 80px 80px 80px;
	margin: 80px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#cpk1 h1{
	color: white;
	padding: 10px 0;
	font-size: 60px;
	margin: 0;
	text-align: center;
	font-weight: bold;
}

#cpk2
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 50px;
	background: #45008e;
	padding: 50px;
}

#cpkSeleccionado
{
	height: 80%;
	width: 80%;
	/*height: auto;*/
}

#cantidadSel
{
	color: white;
	font-size: 70px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#cont_cup_sel{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#cont_cup_img{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.txtCup
{
	color: white;
	/*position: absolute;
	left: 60%;*/
}

#cupcakeTxt
{
	top: 30%;
	font-weight: bold;

}

#tamnioTxt
{
	top: 40%;
	font-weight: bold;
}

#txtSabor
{
	top: 50%;
	left: 67.5%;
}

#saborTxt
{
	top: 50%;
}

#rellenoTxt
{
	top: 55%;
	
}

#txtRelleno
{
	top: 55%;
	left: 73.5%;
}

#animacion
{
}

#imagen
{
    background: #ff3960;
    text-align: center;
    height: 100vh;
    position: relative;
    display: none;
}

@keyframes rotar{
	0%{
		transform: translate(-50%, -50%) rotate(-10deg);
	}
	100%{
		transform: translate(-50%, -50%) rotate(10deg);
	}
}

#imagen embed
{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 90vh;
	max-width: 100%;
	transform: translate(-50%, -50%);
/*	animation-name: rotar;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-duration: 2s;*/
}

#imagen1
{
	position: absolute;
    margin-top: 120%;
    width: 100%;
}

#imagen1 img
{
	margin-left: 20%;
	margin-top: 10%;
}

.cantidadCupcakes
{
	border-radius: 20px;
	background: #eeeeee54;
	height: auto;
	width: auto;
	text-align: center;
	margin-top: 80px;
	padding: 0 10px 10px 10px;
}

.numeroCup
{
	border-radius: 8px;
	background: #eeeeee54;
	height: auto;
	width: auto;
}

.cantidadCupcakes h5
{
	font-weight: bold;
	color: #45008e;
}

.txt_dis
{
	color: #eeeeee;
	font-weight: bold;
	margin-top: 40px;
}

.cantidadCupcakes p
{
	color: #45008e;
}

.cupcakeAdorno
{
	position: relative;
}

.cupcakeAdorno #cup1
{
	height: auto;
    position: sticky;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.seccion
{
	border-radius: 8px;
	background: #eeeeee54;
	height: auto;
	width: auto;
	text-align: center;
	margin-top: 40px;
}

.btn_adornos
{
	background: transparent;
	border: none;
	padding: 0;
}

.seccion h6
{
	color: #45008e;
	font-weight: bold;
}

.texto, .texto1
{
	border-radius: 8px;
	background: #eeeeee54;
	height: auto;
	width: auto;
	margin-top: 20px;
	text-align: center;
}

.escribir, .escribir1
{
	border-radius: 8px;
	background: #eeeeee54;
	border: none;
	height: 70px;
	width: 80%;
	font-size: 35px;
	color: #45008ef2;
}

.texto h5, .texto1 h5
{
	color: #45008e;
	font-weight: bold;
}

.texto p, .texto1 p
{
	color: #45008e;
	font-weight: bold;
}

.tamanioSeleccionado
{
	border-radius: 8px;
	border: 1px solid white;
}

.colorCrema, .colorLetra, .cremas, .fotos, .colorFond, .adicionales
{
	border-radius: 8px;
	background: #eeeeee54;
	height: auto;
	width: auto;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2%;
	margin-top: 20px;
}

.tituloPiezas
{
	background-color: #eeeeee54;
	margin-top: 2%;
	border-radius: 10px;
	height: 55px;
}

.pie
{
	background-color: transparent;
	border: none;
}

.tituloPiezas h5
{
	color: #45008e !important;
	font-weight: bold;
	transform: translateX(-3%);

}

.tituloPiezas h5 img
{
	height: 48px;	
}

.colorCrema h5, .colorLetra h5, .cremas h5, .fotos h5, .colorFond h5, .adicionales h5
{
	color: #45008e;
	font-weight: bold;
	margin-left: 4%;
}

.fotos button
{
	background: transparent;
	border: none;
}

.fotos button img
{
	width: 290px;
}
.fotos .cont_prev_square{
	text-align: center;
}
.fotos .cont_prev_square #prev_square{ 
	max-width: 80%;
}

#prev_circle
{
	display: none;
	position: absolute;
	top: 16%;
	left: 50%;
	transform: translateX(-50%);
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.tituloCrema, .tituloTexto
{
	background: #eeeeee54;
	border-radius: 10px;
	padding-top: 2%;
	padding-bottom: 1%;

}

.colorCrema ul, .colorLetra ul, .colorFond ul
{
	margin-left: 6%;
	padding-bottom: 4%;
}

.sel_per_pie ul, .cremas ul, .adicionales ul
{
	padding: 10px 0;

}

.cremas ul, .adicionales ul{
	display: flex;
	flex-wrap: wrap;
}

.colorCrema ul li, .colorLetra ul li, .sel_per_pie ul li, .colores ul li, .colorFond ul li
{
	margin-top: 10px;
	flex: 0 0 14%;
}
.sel_per_pie ul li.lst_piezas{
	margin: 4%;
}
.colores ul li{
	margin-left: 6%;
}

.cremas ul li, .adicionales ul li
{
	padding: 15px;
	flex: 0 1 20%;
}

.colorCrema ul li span, .colorLetra ul li span, .colorFond ul li span
{
	width: 30px;
	height: 30px;
}

.sel_per_pie ul li span
{
	width: 100%;
	height: 100%;
}

.cremas ul li span, .adicionales ul li span
{
	width: 50px;
	height: 50px;
}

.inputColorCrema, .inputColorLetra, .inputColorFondo
{
	border-radius: 50%;
    height: 20px;
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 21px;
    z-index: 2;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inputPersonaje, .inputCremas, .inputPieza, .inputCremasAdicional
{
	/*border-radius: 50%;*/
    height: 20px;
    position: absolute;
    display: inline-block;
    left: 0%;
    width: 21px;
    z-index: 2;
    top: 0;
    cursor: pointer;
    transition: .25s;
}

.fondant_adornos ul li:hover{
	transform: scale(1.2);
}

.inputPersonaje:hover{
	transform: scale(1.2);
}

.colorCrema > ul, .colorLetra > ul, .colorFond > ul
{
	/*margin: 0;*/
}

.inputColorCrema#amarilloCrema, .inputColorLetra#amarilloLetra, .inputColorFondo#amarilloFondo
{
	background: #ffbe00;
}
.inputColorCrema#naranjaCrema, .inputColorLetra#naranjaLetra, .inputColorFondo#naranjaFondo
{
	background: #ff7f00;
}
.inputColorCrema#rojoCrema, .inputColorLetra#rojoLetra, .inputColorFondo#rojoFondo
{
	background: #fe0002;
}
.inputColorCrema#fucsiaCrema, .inputColorLetra#fucsiaLetra, .inputColorFondo#fucsiaFondo
{
	background: #f10281;
}
.inputColorCrema#moradoCrema, .inputColorLetra#moradoLetra, .inputColorFondo#moradoFondo
{
	background: #82017f;
}
.inputColorCrema#azulOscuroCrema, .inputColorLetra#azulOscuroLetra, .inputColorFondo#azulOscuroFondo
{
	background: #13007d;
}
.inputColorCrema#azulCrema, .inputColorLetra#azulLetra, .inputColorFondo#azulFondo
{
	background: #0b52a4;
}
.inputColorCrema#azulClaroCrema, .inputColorLetra#azulClaroLetra, .inputColorFondo#azulClaroFondo
{
	background: #05a1d1;
}
.inputColorCrema#verdeClaroCrema, .inputColorLetra#verdeClaroLetra, .inputColorFondo#verdeClaroFondo
{
	background: #01916d;
}
.inputColorCrema#verdeOscuroCrema, .inputColorLetra#verdeOscuroLetra, .inputColorFondo#verdeOscuroFondo
{
	background: #169347;
}
.inputColorCrema#verdeCrema, .inputColorLetra#verdeLetra, .inputColorFondo#verdeFondo
{
	background: #a1d415;
}
.inputColorCrema#amarilloClaroCrema, .inputColorLetra#amarilloClaroLetra, .inputColorFondo#amarilloClaroFondo
{
	background: #f8ea21;
}
.inputColorCrema#negroCrema, .inputColorLetra#negroLetra, .inputColorFondo#negroFondo
{
	background: #000000;
}
.inputColorCrema#blancoCrema, .inputColorLetra#blancoLetra, .inputColorFondo#blancoFondo
{
	background: #eeeeee;
}
.inputColorCrema#grisCrema, .inputColorLetra#grisLetra, .inputColorFondo#grisFondo
{
	background: #959595;
}
.inputColorCrema#cafeCrema, .inputColorLetra#cafeLetra, .inputColorFondo#cafeFondo
{
	background: #754c24;
}

.inputPersonaje#sullivan
{
	background: url('../img/Despiece/personaje_1.png');
	background-repeat: no-repeat;
}
.inputPersonaje#wasauski
{
	background: url('../img/Despiece/personaje_2.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#angry
{
	background: url('../img/Despiece/personaje_3.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#angry1
{
	background: url('../img/Despiece/personaje_4.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#angry2
{
	background: url('../img/Despiece/personaje_5.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#marrano
{
	background: url('../img/Despiece/personaje_6.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#conejo
{
	background: url('../img/Despiece/personaje_7.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#gato
{
	background: url('../img/Despiece/personaje_8.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#hello_kitty
{
	background: url('../img/Despiece/personaje_9.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#gato1
{
	background: url('../img/Despiece/personaje_10.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#pollo
{
	background: url('../img/Despiece/personaje_11.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#gallo
{
	background: url('../img/Despiece/personaje_12.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#emoji
{
	background: url('../img/Despiece/personaje_13.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#emoji1
{
	background: url('../img/Despiece/personaje_14.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#emoji2
{
	background: url('../img/Despiece/personaje_15.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#emoji3
{
	background: url('../img/Despiece/personaje_16.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#elmo
{
	background: url('../img/Despiece/personaje_17.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#elmo1
{
	background: url('../img/Despiece/personaje_18.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#castor
{
	background: url('../img/Despiece/personaje_19.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#elefante
{
	background: url('../img/Despiece/personaje_20.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#caballo
{
	background: url('../img/Despiece/personaje_21.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#cerdo
{
	background: url('../img/Despiece/personaje_22.png');
	background-repeat: no-repeat;	
}
.inputPersonaje#unicornio
{
	background: url('../img/Despiece/personaje_23.png');
	background-repeat: no-repeat;	
}
.opcionesPersonajes, .sel_per_pie
{
	border-radius: 8px;
	background: #eeeeee54;
	height: auto;
	width: auto;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2%;
	margin-top: 20px;
	text-align: center;
}

.opcionesPersonajes h5
{
	color: #45008e;
	font-weight: bold;
}

.btn_seleccion_p
{
	background: transparent;
	border: none;
}

.btn_per_pie
{
	background: #eeeeee;
	border: none;
	border-radius: 30px;
	color: #45008e;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 20px;
}

.btn_per_pie.active
{
	background: #45008e;
	color: #eeeeee;
}

.btn_adornos.active,
.btn_seleccion_p.active{
	pointer-events: none;
}

.btn_adornos.active,
.btn_seleccion_p.active,
.btn_adornos:hover,
.btn_seleccion_p:hover
{
	background: #eeeeee54;
	border-radius: 10px;
	background-position: center;
	background-attachment: fixed;
}

#opcionesTexto, .crema_adornos, #sel_cremas, #foto,
.tituloPiezas, #lista_ojos, #lista_boca, #lista_nariz, #lista_oreja, .texto1, .colorFond
{
	display: none;
}

.fondant_adornos
{
	display: flex;
	flex-wrap: wrap;
}

.inputCremas#crema1
{
	background: url('../img/Despiece/crema1.png');
	background-repeat: no-repeat;
}
.inputCremas#crema2
{
	background: url('../img/Despiece/crema2.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema3
{
	background: url('../img/Despiece/crema3.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema4
{
	background: url('../img/Despiece/crema4.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema5
{
	background: url('../img/Despiece/crema5.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema6
{
	background: url('../img/Despiece/crema6.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema7
{
	background: url('../img/Despiece/crema7.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema8
{
	background: url('../img/Despiece/crema8.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema9
{
	background: url('../img/Despiece/crema9.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema10
{
	background: url('../img/Despiece/crema10.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema11
{
	background: url('../img/Despiece/crema11.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema12
{
	background: url('../img/Despiece/crema12.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema13
{
	background: url('../img/Despiece/crema13.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema14
{
	background: url('../img/Despiece/crema14.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema15
{
	background: url('../img/Despiece/crema15.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema16
{
	background: url('../img/Despiece/crema16.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema17
{
	background: url('../img/Despiece/crema17.png');
	background-repeat: no-repeat;	
}
.inputCremas#crema18
{
	background: url('../img/Despiece/crema18.png');
	background-repeat: no-repeat;	
}


#textocup
{
	font-size: 60px;
    text-align: center;
    margin-top: 17%;
}

.inputPieza{
	background-size: contain!important;
	background-position: center!important;
}

.inputPieza#ojo_1
{
	background: url('../img/Despiece/ojo_1.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_2
{
	background: url('../img/Despiece/ojo_2.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_3
{
	background: url('../img/Despiece/ojo_3.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_4
{
	background: url('../img/Despiece/ojo_4.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_5
{
	background: url('../img/Despiece/ojo_5.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_6
{
	background: url('../img/Despiece/ojo_6.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_7
{
	background: url('../img/Despiece/ojo_7.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_8
{
	background: url('../img/Despiece/ojo_8.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_9
{
	background: url('../img/Despiece/ojo_9.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_10
{
	background: url('../img/Despiece/ojo_10.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_11
{
	background: url('../img/Despiece/ojo_11.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_12
{
	background: url('../img/Despiece/ojo_12.png');
	background-repeat: no-repeat;
}

.inputPieza#ojo_13
{
	background: url('../img/Despiece/ojo_13.png');
	background-repeat: no-repeat;
}


.lst_piezas
{
	padding: 0 6px;
}

.inputPieza#boca_1
{
	background: url('../img/Despiece/boca_1.png');
	background-repeat: no-repeat;
}

.inputPieza#boca_2
{
	background: url('../img/Despiece/boca_2.png');
	background-repeat: no-repeat;
}

.inputPieza#boca_3
{
	background: url('../img/Despiece/boca_3.png');
	background-repeat: no-repeat;
}

.inputPieza#boca_4
{
	background: url('../img/Despiece/boca_4.png');
	background-repeat: no-repeat;
}

.inputPieza#boca_5
{
	background: url('../img/Despiece/boca_5.png');
	background-repeat: no-repeat;
}

.inputPieza#boca_6
{
	background: url('../img/Despiece/boca_6.png');
	background-repeat: no-repeat;
}

.inputPieza#boca_7
{
	background: url('../img/Despiece/boca_7.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_1
{
	background: url('../img/Despiece/nariz_1.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_2
{
	background: url('../img/Despiece/nariz_2.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_3
{
	background: url('../img/Despiece/nariz_3.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_4
{
	background: url('../img/Despiece/nariz_4.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_5
{
	background: url('../img/Despiece/nariz_5.png');
	background-repeat: no-repeat;
}
.inputPieza#nariz_6
{
	background: url('../img/Despiece/nariz_6.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_7
{
	background: url('../img/Despiece/nariz_7.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_8
{
	background: url('../img/Despiece/nariz_8.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_9
{
	background: url('../img/Despiece/nariz_9.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_10
{
	background: url('../img/Despiece/nariz_10.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_11
{
	background: url('../img/Despiece/nariz_11.png');
	background-repeat: no-repeat;
}

.inputPieza#nariz_12
{
	background: url('../img/Despiece/nariz_12.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_1
{
	background: url('../img/Despiece/oreja_1.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_2
{
	background: url('../img/Despiece/oreja_2.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_3
{
	background: url('../img/Despiece/oreja_3.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_4
{
	background: url('../img/Despiece/oreja_4.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_5
{
	background: url('../img/Despiece/oreja_5.png');
	background-repeat: no-repeat;
}
.inputPieza#oreja_6
{
	background: url('../img/Despiece/oreja_6.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_7
{
	background: url('../img/Despiece/oreja_7.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_8
{
	background: url('../img/Despiece/oreja_8.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_9
{
	background: url('../img/Despiece/oreja_9.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_10
{
	background: url('../img/Despiece/oreja_10.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_11
{
	background: url('../img/Despiece/oreja_11.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_12
{
	background: url('../img/Despiece/oreja_12.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_13
{
	background: url('../img/Despiece/oreja_13.png');
	background-repeat: no-repeat;
}
.inputPieza#oreja_14
{
	background: url('../img/Despiece/oreja_14.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_15
{
	background: url('../img/Despiece/oreja_15.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_16
{
	background: url('../img/Despiece/oreja_16.png');
	background-repeat: no-repeat;
}

.inputPieza#oreja_17
{
	background: url('../img/Despiece/oreja_17.png');
	background-repeat: no-repeat;
}

#mini
{
	width: 40%;
}

#stan
{
	width: 50%;
	transform: translateX(25%);
}

.image-checkbox
{
	position: relative;
}

.txt
{
	position: absolute;
	font-size: 11px;
}

.ojo_ad
{
	position: absolute;
    transform: translate(-65%,-100%);
}

.boca_ad
{
	position: absolute;
    transform: translate(-65%,-75%);
}

.nariz_ad
{
    position: absolute;
    transform: translate(-65%, -95%);
}

.oreja_ad
{
	position: absolute;
    transform: translate(-65%, -110%);
}

.inputCremasAdicional#barquillo
{
	background: url('../img/svg/barquillo_crema.svg');
	background-repeat: no-repeat;						
}

.inputCremasAdicional#cereza
{
	background: url('../img/svg/cereza_crema.svg');
	background-repeat: no-repeat;							
}

.inputCremasAdicional#choco_jet
{
	background: url('../img/svg/choco_jet_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#copo_nieve
{
	background: url('../img/svg/copo_nieve_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#festival
{
	background: url('../img/svg/festival_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#fresa
{
	background: url('../img/svg/fresa_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#fresa_chocolate
{
	background: url('../img/svg/fresa_chocolate_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#mini_jumbo
{
	background: url('../img/svg/mini_jumbo_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#waffer
{
	background: url('../img/svg/waffer_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#corazon
{
	background: url('../img/svg/corazon_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#estrella
{
	background: url('../img/svg/estrella_crema.svg');
	background-repeat: no-repeat;				
}

.inputCremasAdicional#flor
{
	background: url('../img/svg/flor_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#mariposa
{
	background: url('../img/svg/mariposa_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#mini_mouse
{
	background: url('../img/svg/mini_mouse_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#pinia
{
	background: url('../img/svg/piña_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_azules
{
	background: url('../img/svg/bolas_azules_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_azules_claras
{
	background: url('../img/svg/bolas_azules_claras_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_blancas
{
	background: url('../img/svg/bolas_blancas_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_colores
{
	background: url('../img/svg/bolas_colores_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_colores1
{
	background: url('../img/svg/bolas_colores1_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_colores2
{
	background: url('../img/svg/bolas_colores2_crema.svg');
	background-repeat: no-repeat;				
}

.inputCremasAdicional#bolas_colores3
{
	background: url('../img/svg/bolas_colores3_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_colores4
{
	background: url('../img/svg/bolas_colores4_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_colores5
{
	background: url('../img/svg/bolas_colores5_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_fucsias
{
	background: url('../img/svg/bolas_fucsias_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_grises
{
	background: url('../img/svg/bolas_grises_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_rosadas
{
	background: url('../img/svg/bolas_rosadas_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_verdes
{
	background: url('../img/svg/bolas_verdes_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#bolas_verdes_claras
{
	background: url('../img/svg/bolas_verdes_claras_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#chocolate_rallado
{
	background: url('../img/svg/chocolate_rallado_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#corazones
{
	background: url('../img/svg/corazones_crema.svg');
	background-repeat: no-repeat;					
}


.inputCremasAdicional#cumpleanios
{
	background: url('../img/svg/cumpleaños_crema.svg');
	background-repeat: no-repeat;				
}

.inputCremasAdicional#estrellas
{
	background: url('../img/svg/estrellas_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#feliz_dia
{
	background: url('../img/svg/feliz_dia_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#mym
{
	background: url('../img/svg/m&m_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#minichips
{
	background: url('../img/svg/minichips_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#nips
{
	background: url('../img/svg/nips_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#sparkies
{
	background: url('../img/svg/sparkies_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#sparkies1
{
	background: url('../img/svg/sparkies1_crema.svg');
	background-repeat: no-repeat;					
}

.inputCremasAdicional#sparkies2
{
	background: url('../img/svg/sparkies2_crema.svg');
	background-repeat: no-repeat;					
}

#adic
{
	transform: translateY(-145%);
}

#info_sel
{
	display: none;
}

#dec
{
	display: none;
}

#formulario_pago
{
	text-align: center;
	background-color: rgb(243,45,84);
	color: white;
	font-weight: 600;
}

#formularioP div input[type='text'], #formularioP div input[type='email'], #formularioP div input[type='date']
{
	background: transparent;
	border-color: white;
	border-bottom-width: 4px;
	border-top: none;
	font-weight: 600;
	color: white;

}

.txt_crema
{
	display: none;
}

#pasarela
{
	background: white;
	border-radius: 30px;
	color: rgb(243,45,84);
	font-weight: 600;
	text-align: center;
	justify-content: center;
	border: none;
	width: 150px;
}

.loader {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #45008e94;
    /*opacity: .8;*/
}

#horno_img
{
	width: 70%;
	height: 70%;
	transform: translate(18%,30%);
}

.card
{
	border: none!important;
	background-color: transparent!important;
}

#titulo
{
	position: sticky;
	top: 14%;
	color: white;
	text-align: center;
}